﻿@{
    ViewBag.Title = "Twilio Call Center Demo";
}


@section Scripts {

    @Scripts.Render("~/bundles/chart")
    @Scripts.Render("~/bundles/signalr")

    <script type="text/javascript" src="//static.twilio.com/libs/twiliojs/1.1/twilio.min.js"></script>
    <script src="/signalr/hubs" type="text/javascript"></script>
    <script type="text/javascript">
        var sizeChart;
        var waitChart;
        var sizeStack = [], time = (new Date()).getTime(), i;
        var waitStack = [], time = (new Date()).getTime(), i;

        function getParameterByName(name) {
            name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
            var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                results = regex.exec(location.search);
            return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
        }

        var queue = getParameterByName("queue");

        if (queue === "sales") {
            $("#maintenance-queue-widgets").hide();
            $("#advertising-queue-widgets").hide();
        } else if (queue === "maintenance") {
            $("#sales-queue-widgets").hide();
            $("#advertising-queue-widgets").hide();
        } else {
            $("#maintenance-queue-widgets").hide();
            $("#sales-queue-widgets").hide();
        }

        var maxStackSize = 20;

        function getHighestAudioSourceId() {
            var audioSourceId = 1;
            while ($("#audio-source-" + (audioSourceId + 1)).length != 0) {
                audioSourceId++;
            }

            return audioSourceId;
        }

        function addListItem(queueHub) {
            queueHub.server.getRecordingUrls().done(function(result) {

                var resultStrings = result.split("`");

                var newAudioSourceUrl = "http://api.twilio.com" + resultStrings[0];

                if ($("#audio-source-1").length === 0) {

                    $("#recordings-list").append(
                        "<audio controls>" +
                            "<source id=\"audio-source-1\" src=\"" + newAudioSourceUrl + "\" type=\"audio/mpeg\">" +
                            "</audio>" +
                            "<font style=\"margin-bottom: 15px\">" +
                            "  To: " + resultStrings[2] +
                            "  From: " + resultStrings[1] +
                            "</font>"
                    );
                } else {
                    var highestAudioSourceId = getHighestAudioSourceId();
                    var audioSourceValue = $("#audio-source-" + highestAudioSourceId).attr("src");

                    if (audioSourceValue != newAudioSourceUrl) {
                        $("#recordings-list").append(
                            "<audio controls>" +
                                "<source id=\"audio-source-" + (highestAudioSourceId + 1) + "\" src=\"" + newAudioSourceUrl + "\" type=\"audio/mpeg\">" +
                                "</audio>" +
                                "<font style=\"margin-bottom: 15px\">" +
                                "  To: " + resultStrings[2] +
                                "  From: " + resultStrings[1] +
                                "</font>"
                        );

                    }
                }


            });
        }

        $(function() {
            var queueHub = $.connection.queue;

            $.connection.hub.logging = true;
            $.connection.hub.start().done(function() {
                var timer = setInterval(function() {
                    console.log('starting avg wait callback');
                    addListItem(queueHub);
                }, 3000);
            });
        });


        Twilio.Device.setup('@ViewBag.token');

        Twilio.Device.ready(function(device) {
            $("#log").text("Ready");
        });

        Twilio.Device.error(function(error) {
            $("#log").text("Error: " + error.message);
        });

        var dialerCallSid;
        var isConnected;
        var isHold = false;

        Twilio.Device.connect(function(conn) {
            if ($("#log").text != "Successfully established call") {
                totalSeconds = 0;

                $("#seconds").show();
                $("#minutes").show();
            }

            $('#caller-id').text(conn.parameters.From.substring(1, conn.parameters.From.length));


            $("#log").text("Successfully established call");
            console.log(conn.params);

            getDialerCallSid(conn.parameters.CallSid);

            isConnected = true;
            isHold = false;
        });

        Twilio.Device.cancel(function(conn) {
            $("#log").text("Ready");
            $("#caller-id").text("None");
        });

        function getDialerCallSid(clientCallSid) {
            $.ajax({
                url: "/Call/GetDialerCallSid",
                data: { "clientCallSid": clientCallSid },
                type: "POST",
            })
                .done(function(data) {
                    dialerCallSid = data;
                });
        }

        Twilio.Device.disconnect(function(conn) {
            if (!isHold) {
                $("#log").text("Call ended");
                $("#caller-id").text("None");

                $("#minutes").hide();
                $("#seconds").hide();

                isConnected = false;

                $("#hold-button").show();
                $("#unhold-button").hide();
            }
        });

        var isAcceptCall = false;

        Twilio.Device.incoming(function(conn) {
            $("#log").text("Incoming connection from " + conn.parameters.From.substring(1, conn.parameters.From.length));
            conn.accept();
        });

        var minutesLabel = document.getElementById("minutes");
        var secondsLabel = document.getElementById("seconds");
        var totalSeconds = 0;
        setInterval(setTime, 1000);

        function setTime() {
            ++totalSeconds;
            secondsLabel.innerHTML = pad(totalSeconds % 60);
            minutesLabel.innerHTML = pad(parseInt(totalSeconds / 60));
        }

        function pad(val) {
            var valString = val + "";
            if (valString.length < 2) {
                return "0" + valString;
            } else {
                return valString;
            }
        }

        function takecall() {
            $.ajax({
                url: "/Call/PopCall?id=@ViewBag.agentId&queue=@ViewBag.queue",
                type: "POST",
            });
        }

        function hangup() {
            Twilio.Device.disconnectAll();
            if (isHold) {
                $.ajax({
                    url: "/Call/Reroute?branch=goodbye&dialerCallSid=" + dialerCallSid,
                });
            }
            clearScreen();
        }

        function hold() {
            if (isConnected) {
                $.ajax({
                    url: "/Call/Reroute?branch=hold&dialerCallSid=" + dialerCallSid,
                });
                $("#hold-button").hide();
                $("#unhold-button").show();
                isHold = true;
            }
        }

        function unhold() {
            if (isConnected) {
                isHold = false;

                $.ajax({
                    url: "/Call/Reroute?branch=unhold&dialerCallSid=" + dialerCallSid + "&agentId=@ViewBag.agentId",
                });
                $("#hold-button").show();
                $("#unhold-button").hide();
            }
        }

        function support() {
            if (isConnected) {
                $.ajax({
                    url: "/Call/Reroute?branch=support&dialerCallSid=" + dialerCallSid,
                });
                clearScreen();
            }
        }

        function accounting() {
            if (isConnected) {
                $.ajax({
                    url: "/Call/Reroute?branch=accounting&dialerCallSid=" + dialerCallSid,
                });
                clearScreen();
            }
        }

        function mainswitch() {
            if (isConnected) {
                $.ajax({
                    url: "/Call/Reroute?branch=mainswitch&dialerCallSid=" + dialerCallSid,
                });
                clearScreen();
            }
        }

        function clearScreen() {
            if (isHold) {
                $("#log").text("Call ended");
                $("#caller-id").text("None");

                $("#minutes").hide();
                $("#seconds").hide();

                isConnected = false;

                $("#hold-button").show();
                $("#unhold-button").hide();

                isHold = false;
            }
        }

    </script>
}

<div class="row">
    <div class="col-md-6">
        <img src="/Images/twilio-wordmark.png" style="width: 40%; height: 40%; margin-bottom: 30px" alt="Twilio">
    </div>
    <div class="col-md-6 well-sm">
        <div class="col-md-6" style="text-align: right">
            <h5>
                Have a "customer" dial: @Settings.CustomerDialIn<br />
            </h5>
        </div>
    </div>
</div>
<div class="row">
    <div class="list-group col-md-6">
        <div class="list-group-item list-group-item-info" style="text-align:center"><h4>Queue Console</h4></div>
        <div class="list-group-item" id="sales-queue-widgets">
            <iframe src="https://public.ducksboard.com/w/_4JdeMTAN1Kaz9sXgRHC" width="518" height="146" frameborder="0"
                    scrolling="no" style="border: solid rgba(243, 243, 232, 0.701961) 10px; border-radius: 5px;
                    -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box;"></iframe>
            <iframe src="https://public.ducksboard.com/w/-iRTShChVVBBd2nWw2Oe" width="518" height="146" frameborder="0"
                    scrolling="no" style="border: solid rgba(243, 243, 232, 0.701961) 10px; border-radius: 5px;
                    -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; margin-top: 15px"></iframe>
        </div>
        <div class="list-group-item" id="maintenance-queue-widgets">
            <iframe src="https://public.ducksboard.com/w/RbBzNZiJA9GU4R0MV0m8" width="518" height="146" frameborder="0"
                    scrolling="no" style="border: solid rgba(243, 243, 232, 0.701961) 10px; border-radius: 5px;
                                                                                                                                                                                                                                                                                                                                                                                                       -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box;"></iframe>
            <iframe src="https://public.ducksboard.com/w/URnFeY6tuOh7B9dqaYW_" width="518" height="146" frameborder="0"
                    scrolling="no" style="border: solid rgba(243, 243, 232, 0.701961) 10px; border-radius: 5px;
                                                                                                                                                    -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; margin-top: 15px"></iframe>
        </div>
        <div class="list-group-item" id="advertising-queue-widgets">
            <iframe src="https://public.ducksboard.com/w/qhcrZhVD85VksuHBIejR" width="518" height="146" frameborder="0"
                    scrolling="no" style="border: solid rgba(243, 243, 232, 0.701961) 10px; border-radius: 5px;
                    -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box;"></iframe>
            <iframe src="https://public.ducksboard.com/w/tg8uJ7jlyRfuNMKNgXjW" width="518" height="146" frameborder="0"
                    scrolling="no" style="border: solid rgba(243, 243, 232, 0.701961) 10px; border-radius: 5px;
                    -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; margin-top: 15px"></iframe>
        </div>
    </div>
    <div class="list-group col-md-6">
        <div class="list-group-item list-group-item-info" style="text-align:center"><h4>Call Performance</h4></div>
        <div class="list-group-item">
            <iframe src="https://public.ducksboard.com/w/SHHw8WS9Y3U1kCYV2GCz" width="518" height="332" frameborder="0" scrolling="no"
                    style="border: solid rgba(243, 243, 232, 0.701961) 10px; border-radius: 5px; -moz-box-sizing: content-box;
                    -webkit-box-sizing: content-box; box-sizing: content-box;"></iframe>
        </div>
    </div>
</div>

<div class="row">
    <div class="list-group col-md-12">
        <div class="list-group-item list-group-item-info" style="text-align:center"><h4>Agent Console</h4></div>
        <div class="list-group-item col-md-12">
            <div class="list-group col-md-5">
                <div class="list-group-item col-md-12">
                    <div style="text-align: center; margin-bottom: 15px;">
                        <button class="btn btn-success" onclick="takecall();" >
                            Take Call
                        </button>
                        <button class="btn btn-danger" onclick="hangup();">
                            Hang-up
                        </button>
                        <button id="hold-button" class="btn btn-primary" onclick="hold();">
                            Hold
                        </button>
                        <button id="unhold-button" class="btn btn-primary" style="display: none" onclick="unhold();">
                            Unhold
                        </button>
                    </div>
                    <div>Call Status: <span id="log">Loading pigeons...</span></div>
                    <div>Caller ID: <span id="caller-id">None</span></div>
                    <div>Call Time: <span id="minutes" style="display: none">00</span>:<span id="seconds" style="display: none">00</span></div>
                </div>
                <div class="list-group-item col-md-12" style="text-align: center">
                    <h4>Route caller to:</h4>
                    <button class="btn btn-primary" onclick="support();">
                        Support
                    </button>
                    <button class="btn btn-primary" onclick="accounting();">
                        Accounting
                    </button>
                    <button class="btn btn-primary" onclick="mainswitch();">
                        Main Switch
                    </button>
                </div>
            </div>

            <div class="col-md-7">
                <div class="list-group-item col-md-12" style="text-align: center">

                    <div id="recordings-list">


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>